{% extends layout_template  %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="container">
    <div class="row-fluid">
        <div class="page-header">
            <h1>
                Create an account<br/>
            </h1>
        </div>

        {% if error %}
            <div class="alert alert-error">{{ error|nl2br }}</div>
        {% endif %}

        <p class="alert alert-error pwerror hide"></p>

        <form class="form-horizontal" method="POST">

            <div class="control-group">
                <label class="control-label" for="input-name">Name</label>
                <div class="controls">
                    <input name="name" type="text" id="input-name" placeholder="Name" value="{{ name }}">
                    <span class="help-inline">Shown publicly</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-email">Email</label>
                <div class="controls">
                    <input name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
                    <span class="help-inline">Never shared</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-password">Password</label>
                <div class="controls">
                    <input name="password" type="password" id="input-password" required placeholder="Password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-confirm-password">Confirm password</label>
                <div class="controls">
                    <input name="confirm_password" type="password" id="input-confirm-password" required placeholder="Confirm password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-roles">Roles</label>
                <div class="controls">
                    <select multiple id="input-roles" name="roles[]">
                        {% for role in available_roles %}
                            <option value="{{ role }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button id="submitbtn" type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    (function () {
        $("#submitbtn").click(function(e){
            e.preventDefault();
            var password = $("input[name='password']").val();
            if(password.match(/^.{8,}$/)) // at least 8 characters
            {
                $("form").submit();
            }
            else
            {
                $('.pwerror').append('The password must contain at least 8 characters.').show();
            }
        });
    })();
</script>
{% endblock %}
