{% extends layout_template  %}

{% block title %}Edit User: {{ user.displayName }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">

        <div class="page-header">
            <h1>Edit User: {{ user.displayName }}</h1>
        </div>

        {% if error %}
            <div class="alert alert-error">{{ error|nl2br }}</div>
        {% endif %}

        <p class="alert alert-error pwerror hide"></p>

        <form class="form-horizontal" method="POST">
            <div class="control-group">
                <label class="control-label" for="input-name">Name</label>
                <div class="controls">
                    <input name="name" type="text" id="input-name" placeholder="Name" value="{{ user.name }}">
                    <span class="help-inline">Shown publicly</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-email">Email</label>
                <div class="controls">
                    <input name="email" type="email" id="input-email" placeholder="Email" required value="{{ user.email }}">
                    <span class="help-inline">Never shared</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-password">New password</label>
                <div class="controls">
                    <input name="password" type="password" id="input-password" required placeholder="New password">
                    <span class="help-inline">Leave blank except to change</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input-confirm-password">Confirm password</label>
                <div class="controls">
                    <input name="confirm_password" type="password" id="input-confirm-password" required placeholder="Confirm password">
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="controls">
                    Admin options:
                </div>

                <div class="control-group">
                    <label class="control-label" for="input-roles">Roles</label>
                    <div class="controls">
                        <select multiple id="input-roles" name="roles[]">
                            {% for role in available_roles %}
                                <option value="{{ role }}" {% if user.hasRole(role) %}selected{% endif %}>{{ role }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <button id="submitbtn" type="submit" class="btn">Save</button>
                    <a style="margin-left: 10px;" href="{{ path('user.list') }}">Back to list</a>
                </div>
            </div>

        </form>
    </div>
</div>
<script>
    (function () {
        $("#submitbtn").click(function(e){
            e.preventDefault();
            var password = $("input[name='password']").val();
            if(password.match(/^.{8,}$/)) // at least 8 characters
            {
                $("form").submit();
            }
            else
            {
                $('.pwerror').append('The password must contain at least 8 characters.').show();
            }
        });
    })();
</script>
{% endblock %}
