<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
            <title>{% block title %}{% endblock %}</title>
            <style type="text/css">
                body { padding: 10px; }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="{{ path('user.list') }}"><i class="icon-list"></i> List users</a></li>
                    <li class="divider-vertical"></li>
                    {% if app.user %}
                        <li><a href="{{ path('user') }}"><i class="icon-user"></i> {{ app.user.displayName }}</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ path('user.register') }}"><i class="icon-plus"></i> Add user</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ path('user.logout') }}"><i class="icon-off"></i> Sign out</a></li>
                    {% else %}
                        <li><a href="{{ path('user.login') }}">Sign in</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="{{ path('user.register') }}">Create account</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if app.session.flashbag.has('alert') %}
            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert">{{ flashMessage }}</div>
            {% endfor %}
        {% endif %}
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>