{% extends layout_template  %}

{% block title %}List users{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="page-header">
            <h1>List users</h1>
        </div>
        <p class="hide deletesuccess" style="padding:10px; background-color:#F27979; border:1px solid #F27979;"></p>

        {% if numResults == 1 %}
            <strong>{{ numResults }}</strong> user found.
        {% else %}
            <strong>{{ numResults }}</strong> users found.
        {% endif %}

        Showing <strong>{{ firstResult }} - {{ lastResult }}</strong>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Email</th>
                    {% endif %}
                    <th>Registered on</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="{{ user.id }}">
                        <td>{{ user.name }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>{{ user.email }}</td>
                        {% endif %}
                        <td>{{ user.timeCreated|date('F j, Y') }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a class="btn bnt-default" href="{{ path('user.edit', {'id': user.id}) }}"><i class="icon-edit" style="margin-right: 5px;"></i>Edit</a>
                                <button class="btn btn-default deleteu" data-uname="{{ user.name }}" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% if nextUrl or prevUrl %}
            <ul class="pager pull-left">
                {% if prevUrl %}
                    <li><a href="{{ prevUrl }}"><i class="icon-arrow-left"></i> Previous</a></li>
                {% endif %}
                {% if nextUrl %}
                    <li><a href="{{ nextUrl }}">Next <i class="icon-arrow-right"></i></a></li>
                {% endif %}
            </ul>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-default" href="{{ path('user.add') }}">Add user</a>
        {% endif %}
        <!-- Delete Modal -->
        <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Delete user</h3>
            </div>
            <div class="modal-body">
                <p class="deleteutext"></p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" id="deleteuser">Delete</button>
            </div>
            <input type="hidden" class="indexid">
        </div>
    </div>
</div>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<script>
    $('.deleteu').click(function(){
        var username = $(this).attr('data-uname');
        var indexid = $(this).parent().parent().attr('class');
        $('.indexid').attr('id', indexid);
        $('.deleteutext').html('Are you sure you want to delete the user: <b class="username">' + username + '</b> ?');
    });

    $('#deleteuser').click(function(){
        var uname = $('.username').text();
        var indexid = $('.indexid').attr('id');

        $.post('user/delete',{id: indexid, username: uname}, function(data){
            if($("table > tbody > tr").length == 1){
                $('table').fadeOut(500,function()
                {
                    $(this).remove();
                });
            }
            else{
                var classname = "." + indexid;
                $(classname).fadeOut(500,function()
                {
                    $(this).remove();
                });
            }

            $('.deletesuccess').text(uname + ' is succesffully deleted.')
            $('.deletesuccess').removeClass('hide');
        },'json');
    });
    var $loading = $('#preloader').hide();
    $(document)
            .ajaxStart(function () {
                $('#deleteModal').modal('hide');
                $loading.show();
            })
            .ajaxStop(function () {
                $loading.hide();
            });
</script>
{% endblock %}
