{% extends layout_template  %}

{% block title %}Sign in{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <div class="page-header">
            <h1>
                Sign in<br/>
                <!--<small>Don't have an account? <a href="{{ path('user.register') }}">Register now.</a></small>-->
            </h1>
        </div>

        {% if error %}
            <div class="alert alert-error">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST" action="{{ path('user.login_check') }}">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input name="_username" type="email" id="inputEmail" placeholder="Email" required value="{{ last_username }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input name="_password" type="password" id="inputPassword" required placeholder="Password">
                </div>
            </div>

            {% if allowRememberMe %}
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="_remember_me" value="true" checked> Remember me
                        </label>
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </div>

        </form>

    {% endif %}
{% endblock %}