{% extends layout_template  %}

{% block title %}{{ user.displayName }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row-fluid">
        <div class="media">
            <img class="media-object pull-left" src="{{ imageUrl }}" width="80" height="80">

            <div class="media-body">
                <h1 class="media-heading">{{ user.displayName }}</h1>

                <div class="muted">
                    Registered {{ user.timeCreated|date('F j, Y') }}
                </div>

                {% if is_granted('EDIT_USER', user) %}
                    <div>
                        <a href="{{ path('user.edit', {'id': user.id}) }}"><i class="icon-edit" style="margin-right: 5px;"></i>Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
